<h4>Creating your user profile</h4>
<br>

<%= form_with scope: :profile, url: user_profiles_path, local: true, class: "custom-control" do |form| %>
	<p class="custom-control">
		<strong>1. What size do you wear for your Uniqlo shirts?</strong>
		<br>
			<%= form.radio_button(:size, "XS") %><%= form.label(:size, "XS", class: "ml-1 mr-2")%>
			<%= form.radio_button(:size, "S") %><%= form.label(:size, "S", class: "ml-1 mr-2") %>
			<%= form.radio_button(:size, "M") %><%= form.label(:size, "M", class: "ml-1 mr-2") %>
			<%= form.radio_button(:size, "L") %><%= form.label(:size, "L", class: "ml-1 mr-2") %>
			<%= form.radio_button(:size, "XL") %><%= form.label(:size, "XL", class: "ml-1 mr-2") %>
	</p>

	<p class="custom-control">
		<strong>2. What is your height?</strong>
		<br>
		<%= form.number_field(:height, in: 1.30..2.10, step: 0.01, class: "mr-2") %>metres
	</p>

	<p class="custom-control">
		<strong>3. What is your weight?</strong>
		<br>
		<%= form.number_field(:weight, in: 40..200, step: 0.1, class: "mr-2") %>kg
	</p>

	<p class="custom-control">
	<strong>4. How would you describe your midsection?</strong>
	<br>
		<%= form.radio_button(:belly, "No belly") %><%= form.label(:belly, "No belly", class: "ml-1 mr-2") %>
		<%= form.radio_button(:belly, "Small belly") %><%= form.label(:belly, "Small belly", class: "ml-1 mr-2") %>
		<%= form.radio_button(:belly, "Big belly") %><%= form.label(:belly, "Big belly", class: "ml-1 mr-2") %>
	</p>

    <p class="custom-control">
		<strong>5. Do you wear a watch?</strong>
		<br>
		<%= form.radio_button(:watch, "Yes") %><%= form.label(:watch, "Yes", class: "ml-1 mr-2") %>
		<%= form.radio_button(:watch, "No") %><%= form.label(:watch, "No", class: "ml-1 mr-2") %>
	</p>

    <p class="custom-control">
		<strong>6. If you wear a watch, on which hand do you wear your watch?</strong>
		<br>
		<%= form.radio_button(:watch_hand, "Left") %><%= form.label(:watch_hand, "Left", class: "ml-1 mr-2") %>
		<%= form.radio_button(:watch_hand, "Right") %><%= form.label(:watch_hand, "Right", class: "ml-1 mr-2") %>
	</p>

    <p class="custom-control">
		<strong>7. How sloping are your shoulders?</strong>
		<br>
		<%= form.radio_button(:shoulder_slope, "Small") %><%= form.label(:shoulder_slope, "Small", class: "ml-1 mr-2") %>
		<%= form.radio_button(:shoulder_slope, "Medium") %><%= form.label(:shoulder_slope, "Medium", class: "ml-1 mr-2") %>
		<%= form.radio_button(:shoulder_slope, "Large") %><%= form.label(:shoulder_slope, "Large", class: "ml-1 mr-2") %>
	</p>

    <p class="custom-control">
		<strong>8. How would you like your measurements to be generated?</strong>
		<br>
		<%= form.radio_button(:measurement_method, "Smart size") %><%= form.label(:measurement_method, "Smart Size") %><br>
		<%= form.radio_button(:measurement_method, "Send shirt") %><%= form.label(:measurement_method, "Send in my shirt") %><br>
		<%= form.radio_button(:measurement_method, "Measured in person") %><%= form.label(:measurement_method, "Measured in person") %><br>
	</p>

	<p class="custom-control">
		<%= form.submit value="Submit" %>
	</p>
<% end %>

<!--  to go back to the index action -->
<%# <%= link_to 'Home Page', root_path %> 
<%# add cloudinary later %>