<div class="shopping-cart">
  <% if !@order_item.nil? && @order_item.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @order_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @order_items.size == 0 %>
  <br>
  <br>
    <p class="text-center">
      There are no items in your shopping cart.  Please <%= link_to "go back", products_path %> and add some items to your cart.
    </p>
  <% else %>
    <h2 class="pt-4 pb-2 ml-4">Your Cart</h2>
    <% @order_items.each do |order_item| %>
      <div class="container offset-2 mx-auto">
        <div class="row">
            <div class="col-4 offset-2">
              <span><strong>Name: </strong><%= order_item.name%></span><br>
              <span><strong>Unit Price: </strong><%= number_to_currency(order_item.unit_price) %></span><br>
              <%= form_with scope: :order_item, url: order_item_path(order_item), method: :patch, local: true, class: "m-0 p-0 d-inline-block" do |form| %>
                <span><strong>Quantity: </strong><%= form.number_field :quantity, value: order_item.quantity.to_i %></span><br>
              <%= form.submit "Update Quantity", :class => "mt-2 ml-0 bg-light border-0" %>
                <button class="bg-light border-0 d-inline-block"><%= link_to 'Delete', order_item_path(order_item),
                                method: :delete,
                                data: { confirm: 'Yo, you sure you want to delete this order??' },
                                :style => "color: black;" %>
                </button>
              <% end %>
              <br>
              <span><strong>Subtotal: </strong><%= number_to_currency(order_item.total_price) %></span><br>
            </div>

            <div class="col-4">
                <%= image_tag order_item.image_url, :style => "max-width: 150px; max-height: 150px;", :class => "d-inline-block float-right" %>
            </div>
        </div>
        <hr>        
      </div>
    <% end %>

    <div class="container">
      <div class="row">
        <div class= "col-4 offset-2">
          <div class="mx-auto"><strong>Subtotal: </strong><%= number_to_currency(current_order.subtotal) %></div>
          <div class="mx-auto"><strong>Shipping fee: </strong><% "" %></div>
          <a href="https://www.paypal.com/login"><%= image_tag "checkout", :style => "width:250px" %></a>
        </div>
      </div>
    </div>

<% end %>
              <%# <button class="bg-light border-0 mt-2"><%= link_to 'Update', order_item_path(order_item),
                                method: :patch %>
              <%# </button> %> 
