<div>
        <%= image_tag "aboutus/1", :class =>"img-fluid" %>
          </div>
          <div>
            <div class='row no-gutters'>
              <div id='test' class='col-12 col-md-6 text-container'>
                <div class='row no-gutters h-100 justify-content-center align-items-center'>
                  <div class='col-10 col-md-9 col-lg-8 col-xl-7'>
                    <div class='text-header'>Welcome to Collaro. </div>
                    <br>
                        <p class='text-content'>To get you started, we have prepared a coupon code "welcome15" for your first purchase. Enjoy 15% off with this code, and receive your custom shirt within 2 weeks.</p>
                  </div>
                </div>
              </div>

              <div class='col-12 col-md-6'>
                <%= image_tag "aboutus/2", :class =>"img-fluid" %>
              </div>
            </div>

            <div class='row no-gutters'>
              <div class='order-last col-12 order-md-first col-md-6'>
                <%= image_tag "aboutus/3", :class =>"img-fluid" %>
              </div>
              <div class='order-first col-12 order-md-last col-md-6 text-container'>
                <div class='row no-gutters h-100 justify-content-center align-items-center'>
                  <div class='col-10 col-md-9 col-lg-8 col-xl-7'>
                    <p class='text-header'>Tailored shirts, fair prices.</p>
                    <p>Traditional tailor made shirts tend to be costly, while off the rack shirts do not cater to the nuances of your body and lack customisable options.</p>
                    <p>We founded Collaro to fill this gap - to provide quality, tailored shirts at fair prices.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class='row no-gutters'>
              <div class='col-12 col-md-6 text-container'>
                <div class='row no-gutters h-100 justify-content-center align-items-center'>
                  <div class='col-10 col-md-9 col-lg-8 col-xl-7'>
                    <p class='text-header'>Lower overheads, lower mark-ups.</p>
                    <p>Without a physical storefront, we keep our overheads lower and pass our cost savings to you.</p>
                    <p>No exorbitant mark-ups, just a relentless focus on creating quality and well-fitting shirts.</p>
                  </div>
                </div>
              </div>
              <div class='col-12 col-md-6'>
                <div class='row no-gutters h-100 justify-content-center align-items-center'>
                  <div class='col-12'>
                    <%= image_tag "aboutus/4", :class =>"img-fluid" %>
                  </div>
                </div>
              </div>
            </div>
            <div class='row no-gutters'>
              <div class='order-last col-12 order-md-first col-md-6'>
                <%= image_tag "aboutus/5", :class =>"img-fluid" %>
              </div>
              <div class='order-first col-12 order-md-last col-md-6 text-container'>
                <div class='row no-gutters h-100 justify-content-center align-items-center'>
                  <div class='col-10 col-md-9 col-lg-8 col-xl-7'>
                    <p class='text-header'>3 steps to create your perfect shirt.</p>
                    <p class='text-content'>Without anyone to rush you through this process, simply:</p>
                    <p class='text-content'>a. Select your fabric</p>
                    <p class='text-content'>b. Design your shirt</p>
                    <p class='text-content'>c. Get your smart-size or be physically measured by us</p>
                  </div>
                </div>
              </div>
            </div>

            <div class='row no-gutters'>
              <div class='col-12 col-md-6 text-container'>
                <div class='row no-gutters h-100 justify-content-center align-items-center'>
                  <div class='col-10 col-md-9 col-lg-8 col-xl-7'>
                    <p class='text-header'>Fit Guarantee Policy</p>
                    <p>We know the importance of a well-fitting shirt.</p>
                    <p>If you’re dissatisfied with the fit of your Collaro shirt, we offer free alterations or remake.</p>
                  </div>
                </div>
              </div>
              <div class='col-12 col-md-6'>
                <%= image_tag "aboutus/6", :class =>"img-fluid" %>
              </div>
            </div>

            <div class='row no-gutters'>
              <div class='order-last col-12 order-md-first col-md-6'>
                <%= image_tag "aboutus/7", :class =>"img-fluid" %>
              </div>
              <div class='order-first col-12 order-md-last col-md-6 text-container'>
                <div class='row no-gutters h-100 justify-content-center align-items-center'>
                  <div class='col-10 col-md-9 col-lg-8 col-xl-7'>
                    <p class='text-header'>52 steps, 15,000 stitches, 1 shirt.</p>
                    <p>Collaro shirts are meticulously crafted in Singapore by a small workshop with decades of tailoring experience.</p>
                    <p>Together, we are committed to creating classic, timeless, and quality shirts.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class='row no-gutters'>
              <div class='col-12 col-md-6 text-container'>
                <div class='row no-gutters h-100 justify-content-center align-items-center'>
                  <div class='col-10 col-md-9 col-lg-8 col-xl-7'>
                    <div class='text-header'>We care about the details.</div>
                        <li class='text-content'>Every Collaro shirt comes with:</li>
                        <li class='text-content'>Thick mother of pearl buttons</li>
                        <li class='text-content'>Hand-cut patterns based on your measurements</li>
                        <li class='text-content'>Quality fabrics</li>
                  </div>
                </div>
              </div>
              <div class='col-12 col-md-6'>
                <%= image_tag "aboutus/8", :class =>"img-fluid" %>
              </div>
            </div>

          </div>