<h4>Creating your measurement profile(s)</h4>
<br>

<%= form_with scope: :measurement, url: user_measurements_path, local: true, class: "custom-control" do |form| %>

    <p class="form-group row">
        <%= form.label :name, "Name" %>
		<%= form.text_field :name %>
	</p>

    <p class="form-group row">
        <%= form.label :shoulder, "Shoulder" %>
		<%= form.number_field(:shoulder, in: 20..60, step: 0.25) %>
	</p>

    <p class="form-group row">
        <%= form.label :waist, "Waist" %>
		<%= form.number_field(:waist, in: 20..60, step: 0.25) %>
	</p>

    <p class="form-group row">
        <%= form.label :chest, "Chest" %>
		<%= form.number_field(:chest, in: 20..60, step: 0.25) %>
	</p>

    <p class="form-group row">
        <%= form.label :hips, "Hips" %>
		<%= form.number_field(:hips, in: 20..60, step: 0.25) %>
	</p>

    <p class="form-group row">
        <%= form.label :shirt_length, "Shirt Length" %>
		<%= form.number_field(:shirt_length, in: 16..40, step: 0.25) %>
	</p>

    <p class="form-group row">
        <%= form.label :sleeve_length, "Sleeve Length" %>
		<%= form.number_field(:sleeve_length, in: 14..36, step: 0.25) %>
	</p>

    <p class="form-group row">
        <%= form.label :elbow, "Elbow" %>
		<%= form.number_field(:elbow, in: 8..28, step: 0.25) %>
	</p>

    <p class="form-group row">
        <%= form.label :left_cuff, "Left Cuff" %>
		<%= form.number_field(:left_cuff, in: 8..18, step: 0.25) %>
	</p>

    <p class="form-group row">
        <%= form.label :right_cuff, "Right Cuff" %>
		<%= form.number_field(:left_cuff, in: 8..18, step: 0.25) %>
	</p>

    <p class="form-group row">
        <%= form.label :cuff_length, "Cuff Length" %>
		<%= form.number_field(:cuff_length, in: 1..3.5, step: 0.25) %>
	</p>

    <p class="form-group row">
        <%= form.label :collar_width, "Collar Width" %>
		<%= form.number_field(:collar_width, in: 10..28, step: 0.25) %>
	</p>

	<p class="form-group row">
		<%= form.submit value="Submit" %>
	</p>
<% end %>

<!--  to go back to the index action -->
<%# <%= link_to 'Home Page', root_path %> 
<%# add cloudinary later %>



