<h5>STYLE SELECTION</h5>

<%= form_with scope: :order_item, url: order_items_path, method: :post, local: true do |form| %>

<div id="accordion">

<%# NO 1 ------------------------------------------------------------------------------------%>
    <div class="card">
        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5 class="mb-0">
                <a class="btn btn-link">Collar</a>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="d-flex flex-wrap">
                <div class="m-2">
                    <%= form.radio_button :collar, "classic", :checked => true, :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/collar_classic", :style => "max-width: 125px; max-height: 125px;", :class =>"" %>
                    <br>
                    <%= form.label :collar, "Classic" %>
                </div>
        
                <div class="m-2">
                    <%= form.radio_button :collar, "classic_buttondown", :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/collar_classic_buttondown", :style => "max-width: 125px; max-height: 125px;", :class =>"" %>
                    <br>
                    <%= form.label :collar, "Buttondown" %>
                </div>
                
                <div class="m-2">
                    <%= form.radio_button :collar, "spread", :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/collar_spread", :style => "max-width: 125px; max-height: 125px;", :class =>"" %>
                    <br>
                    <%= form.label :collar, "Spread" %>
                </div>

                <div class="m-2">
                    <%= form.radio_button :collar, "wide_spread", :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/collar_wide_spread", :style => "max-width: 125px; max-height: 125px;", :class =>"" %>
                    <br>
                    <%= form.label :collar, "Wide Spread" %>
                </div>

                <div class="m-2">
                    <%= form.radio_button :collar, "cutaway", :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/collar_cutaway", :style => "max-width: 125px; max-height: 125px;", :class =>"" %>
                    <br>
                    <%= form.label :collar, "Cutaway" %>
                </div>

                <div class="m-2">
                    <%= form.radio_button :collar, "mandarin", :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/collar_mandarin", :style => "max-width: 125px; max-height: 125px;", :class =>"" %>
                    <br>
                    <%= form.label :collar, "mandarin" %>
                </div>

                <div class="m-2">
                    <%= form.radio_button :collar, "one_piece", :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/collar_one_piece", :style => "max-width: 125px; max-height: 125px;", :class =>"" %>
                    <br>
                    <%= form.label :collar, "One Piece" %>
                </div>

            </div>
        </div>
    </div>

<%# NO 2 ------------------------------------------------------------------------------------%>
    <div class="card">
        <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h5 class="mb-0">
                <a class="btn btn-link collapsed">Cuff</a>
            </h5>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="d-flex flex-wrap">
                <div class="m-2">
                    <%= form.radio_button :cuff, "barrel_round_cuffs", :checked => true, :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/cuffs_round", :style => "max-width: 125px; max-height: 125px;"  %>
                    <br>
                    <%= form.label :cuff, "Round Barrel " %>
                </div>

                <div class="m-2">
                    <%= form.radio_button :cuff, "barrel_angle_cuffs", :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/cuffs_angled", :style => "max-width: 125px; max-height: 125px;" %>
                    <br>
                    <%= form.label :cuff, "Angled Barrel" %>
                </div>

                <div class="m-2 ">
                    <%= form.radio_button :cuff, "french_round_cuffs", :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/cuffs_french_round", :style => "max-width: 125px; max-height: 125px;" %>
                    <br>
                    <%= form.label :cuff, "French Round" %>
                </div>

            </div>
        </div>    
    </div>
  
<%# NO 3 ------------------------------------------------------------------------------------%>

    <div class="card">
        <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h5 class="mb-0">
                <a class="btn btn-link collapsed">Front</a>
            </h5>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="d-flex flex-wrap">
                <div class="m-2">
                    <%= form.radio_button :front, "front_clean", :checked => true, :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/front_clean", :style => "max-width: 125px; max-height: 125px;"  %>
                    <br>
                    <%= form.label :front, "Clean" %>
                </div>

                <div class="m-2">
                    <%= form.radio_button :front, "front_placket", :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/front_placket", :style => "max-width: 125px; max-height: 125px;" %>
                    <br>
                    <%= form.label :front, "Placket" %>
                </div>

                <div class="m-2 ">
                    <%= form.radio_button :front, "front_concealed", :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/front_concealed", :style => "max-width: 125px; max-height: 125px;" %>
                    <br>
                    <%= form.label :front, "Concealed" %>
                </div>

            </div>
        </div>    
    </div>


<%# NO 4 ------------------------------------------------------------------------------------%>
    
    <div class="card">
        <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <h5 class="mb-0">
                <a class="btn btn-link collapsed">Back</a>
            </h5>
        </div>

        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="d-flex flex-wrap">
                <div class="m-2">
                    <%= form.radio_button :back, "back_clean", :checked => true, :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/back_clean", :style => "max-width: 125px; max-height: 125px;"  %>
                    <br>
                    <%= form.label :back, "Clean" %>
                </div>

                <div class="m-2">
                    <%= form.radio_button :back, "back_side_pleats", :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/back_side_pleats", :style => "max-width: 125px; max-height: 125px;" %>
                    <br>
                    <%= form.label :back, "Side Pleats" %>
                </div>

                <div class="m-2 ">
                    <%= form.radio_button :back, "back_box_pleats", :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/back_box_pleats", :style => "max-width: 125px; max-height: 125px;" %>
                    <br>
                    <%= form.label :back, "Box Pleat" %>
                </div>
            </div>
        </div>    
    </div>

<%# NO 5 ------------------------------------------------------------------------------------%>

    <div class="card">
        <div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <h5 class="mb-0">
                <a class="btn btn-link collapsed">Monogram</a>
            </h5>
        </div>

        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="d-flex flex-wrap">
                <div class="m-2">
                    <%= form.radio_button :monogram, "monogram_none", :checked => true, :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/monogram_none", :style => "max-width: 125px; max-height: 125px;"  %>
                    <br>
                    <%= form.label :monogram, "None" %>
                </div>

                <div class="m-2">
                    <%= form.radio_button :monogram, "monogram_collar", :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/monogram_collar", :style => "max-width: 125px; max-height: 125px;" %>
                    <br>
                    <%= form.label :monogram, "Inner Collar" %>
                </div>

                <div class="m-2 ">
                    <%= form.radio_button :monogram, "monogram_left_cuff", :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/monogram_left_cuff", :style => "max-width: 125px; max-height: 125px;" %>
                    <br>
                    <%= form.label :monogram, "Left Cuff" %>
                </div>

                <div class="m-2 ">
                    <%= form.radio_button :monogram, "monogram_right_cuff", :style => "opacity: 0; width: 0; height: 0;" %>
                    <%= image_tag "styleicons/monogram_right_cuff", :style => "max-width: 125px; max-height: 125px;" %>
                    <br>
                    <%= form.label :monogram, "Right Cuff" %>
                </div>
                
            </div>
        </div>    
    </div>

</div>
        <span>Remarks: <%= form.text_field :remark %></span>
        <br>
        <span>Quantity: <%= form.number_field :quantity %></span>
        <br>
        <% if @user && @measurement != nil %>
        	<span><%= form.label "Select your measurement" %></span>
            <br>
            <%# what does this syntax mean? %>
		    <%= form.collection_select :measurement_id, Measurement.where(user_id: current_user.id), :id, :name, prompt: true %>
        <% end %>
        <%= form.hidden_field :product_id, value: @product.id %>
        <%= form.hidden_field :name, value: @product.name %>
        <%= form.hidden_field :image_url, value: @product.image_url_2 %>
        <br>
        <br>
        <%= form.submit(value:"Add to Cart") %>

<% end %>

<%# click customize, options appear %>
<%# 157.202.5 %>

