<% for product in @products %>
  	<div class="col-sm-4">

			<div class="card border-primary mb-3" style = "margin-bottom: 10px">

			<div class="card">
				<%= cl_image_tag(product.image_url, :width => 150, :height => 150, :style => 'margin-left: auto; margin-right: auto; display: block; padding-top: 10px') %>

				<div class="card-body text-primary">

					<h5 class="card-title"><h5 class="card-title" style ="text-align: left">SGD<%= number_to_currency(product.price, delimiter: ", ") %></h5></h5>
					<h5 class="card-title" style ="text-align: left"><%= link_to product.category.product_category, category_products_path(category_id: product.category_id), :style => 'color:#2f7df6' %></h5>

					<ul class="list-group list-group-flush">
							<p>Seller: <%= link_to product.seller.username, user_path(product.seller_id) %></p>
							<% if current_user %>
							</br>
							<p><%= link_to 'DETAILS', user_product_path(user_id: current_user.id, id: product.id) %></p>

						</ul>

				</div>
				<div class="card-footer" id="wow">
					<% if product.buyer_id %>
								<h3 style="margin-top:0px; color:#FF0000 ">Item Sold</h3>
							<% elsif current_user.id == product.seller.id %>
								<button type="button" class="btn btn-primary"><%= link_to 'Edit',  edit_user_product_path(user_id: current_user.id, id: product.id), :style => 'color:#FFFFFF' %></button>
								<button type="button" class="btn btn-primary"><%= link_to 'Delete Product', user_product_path(user_id: current_user.id, id: product.id), :style => 'color:#FFFFFF' , method: :delete, data: { confirm: 'Are you sure?' } %></button>
							<% else %>
								<button type="button" class="btn btn-primary"><%= link_to 'Make Offer', new_user_product_offer_path(user_id: current_user.id, product_id: product.id), :style => 'color:#FFFFFF' %></button>
							<% end %>
					<% end %>
				</div>

			</div>

		</div>
	</div>
<% end %>