<%# Logo + Announcement + User Signin/Signout%>
    <nav class="navbar navbar-expand-lg bg-light sticky-top">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><%= link_to 'Browse Shirts', products_path, :class => "nav-link", :style => "color:black;" %></li>
              <li class="nav-item"><%= link_to 'How It Works', howitworks_path, :class => "nav-link", :style => "color:black;" %></li>
              <li class="nav-item"><%= link_to 'Style Guide', styleguide_path, :class => "nav-link", :style => "color:black;" %></li>
              <li class="nav-item"><%= link_to 'Nailing Your Fit', nailingyourfit_path, :class => "nav-link", :style => "color:black;" %></li>
              <li class="nav-item"><%= link_to 'About Us', aboutus_path, :class => "nav-link", :style => "color:black;" %></li>
              <li class="nav-item"><%= link_to 'Cart', order_path, :class => "nav-link", :style => "color:black;" %></li>
              <% if current_user == nil %>
                <li class="nav-item"><%= link_to "Login/Signup", new_user_session_path, :class => "nav-link", :style => "color:black;" %></li>
              <%# <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, :class => "nav-link",:style => "color:#FFFFFF;" %>
              <% else %>
                <span class="navbar-text" style="color:#FFFFFF;"><%= link_to 'Profile', new_user_profile_path(current_user.id), :style => "color:black;" %></span>
                <li class="nav-item"><%= link_to 'Logout', destroy_user_session_url, method: :delete, :class => "nav-link", :style => "color:black;" %></li>
            <% end %>
            </ul>

          </div>
    </nav>

    