<!DOCTYPE html>
<html>
  <head>
    <title>Railscollaro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# Logo + Announcement + User Signin/Signout%>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="navbar-brand" href="/">Collaro</li>
          <li class="nav-item"><%= link_to 'Search', root_path, :class => "nav-link", :style => "color:#FFFFFF;" %></li>
        </ul>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
          
          <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button> %>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><%= link_to 'Browse Shirts', product_index_path, :class => "nav-link", :style => "color:#FFFFFF;" %></li>
              <li class="nav-item"><%= link_to 'How It Works', howitworks_path, :class => "nav-link", :style => "color:#FFFFFF;" %></li>
              <li class="nav-item"><%= link_to 'Style Guide', styleguide_path, :class => "nav-link", :style => "color:#FFFFFF;" %></li>
              <li class="nav-item"><%= link_to 'Nailing Your Fit', nailingyourfit_path, :class => "nav-link", :style => "color:#FFFFFF;" %></li>
              <li class="nav-item"><%= link_to 'About Us', aboutus_path, :class => "nav-link", :style => "color:#FFFFFF;" %></li>
              <li class="nav-item"><%= link_to 'Cart', root_path, :class => "nav-link", :style => "color:#FFFFFF;" %></li>
              <% if current_user == nil %>
                <li class="nav-item"><%= link_to "Login/Signup", new_user_session_path, :class => "nav-link", :style => "color:#FFFFFF;" %></li>
              <%# <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, :class => "nav-link",:style => "color:#FFFFFF;" %>
              <% else %>
                <li class="nav-item"><%= link_to 'Logout', destroy_user_session_url, method: :delete, :class => "nav-link", :style => "color:#FFFFFF;" %></li>
                <span class="navbar-text" style="color:#FFFFFF;">Welcome back, <%= link_to current_user.username, user_path(current_user.id), :style => "color:#FFFFFF;" %>!</span>
            <% end %>
            </ul>

          </div>
    </nav>


    <%= yield %>
  </body>
</html>
