<!DOCTYPE html>
<html>
  <head>
    <title>Collaro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
      <%= render 'layouts/navigation' %>
      
      <%# what does this mean? %>
      <%= link_to "#{current_order.order_items.size} Item(s) in Cart [ #{number_to_currency(current_order.subtotal)} ]", order_path, class: "d-block float-right mr-3" %>
      <br>
      
      <%= render 'layouts/footer' %>

      <%= yield %>
    </body>
</html>

