<!DOCTYPE html>
<html>
  <head>
    <title>Collaro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
      <%= render 'layouts/navigation' %>
      
      <%= link_to "#{current_order.order_items.size} Items in Cart ( #{number_to_currency current_order.subtotal} )", order_path, class: "btn btn-link" %>
      
      <%= render 'layouts/footer' %>

      <%= yield %>
    </body>
</html>
